body {
    max-width: 980px;
    margin: auto;
}

.break {
    height: 0;
}

.header {
    width: 100%;
}

.header .header-container {
    width: 100%;
    background-color: #fcd05d;
    padding: 0 10px;
}

.header .header-container .header-container-info {
    width: 74%;
    padding-top: 10px;
    margin: 0;
    display: inline-block;
}

.header .header-container .header-container-info h1 {
    margin: 0;
}

.header .header-container .header-container-info p {
    margin: 0;
}

.header .header-container .header-container-search {
    width: 25%;
    margin: 0;
    display: inline-block;
}

.header .header-container .header-container-search form {
    background-color: black;
    width: 100%;
    padding: 8px;
    border-radius: 0px 0px 10px 10px;
}

.header-container-links {
    margin: 10px 0px 10px 0px;
}

.header .header-container-links a {
    color: black;
    text-decoration: unset;
}

.header .header-container-links a.header-container-links-first, a.header-container-links-middle {
    border-right: solid 1px;
    padding-right: 5px;
}

.header .header-container .header-container-search form input {
    width: 70%;
    display: inline-block;
    background-color: #fcd05d;
    border-radius: 8px;
    height: 25px;
}

.header .header-container .header-container-search form button {
    width: 25%;
    border-radius: 5px;
    height: 30px;
    background-color: #525252;
    color: #fcd05d;
}

.nav .nav-container {
    display: flex;
    width: 100%;
    padding: 5px 10px;
    background: #231f20;
}

.nav .nav-container .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-item.first, .nav-item.middle {
    border-right: solid 1px #666666;
}

.nav .nav-container .nav-item {
    width: -webkit-fill-available;
    text-align: center;
    padding: 25px;
}

.hero .hero-container {
    display: flex;
    width: 100%;
    margin-top: 5px;
    border: solid 1px #979797;
    padding: 0px 10px;
    background-color: #231f20;
}

.hero .hero-text {
    width: 100%;
    margin-top: 5px;
    border: solid 1px #979797;
    padding: 0px 10px;
    background-color: #231f20;
}

.hero-description p, .hero-text p {
    color: #979797;
}

.hero-description h2, .hero-text h2 {
    color: #e5e5e5;
}

.hero-full-story a {
    color: #fcd05d;
    text-align: right;
    text-decoration: none;
}

h4.hero-full-story {
    text-align: right;
}

.hero .hero-container .hero-image {
    margin: 10px 0px 10px 10px;
}

.hero .hero-container .hero-info {
    margin: 10px 0px 10px 10px;
}

.hero .hero-container .hero-image img {
    width: 480px;
    height: 280px;
}

.hero .hero-container .hero-items {
    display: flex;
    background-color: black;
    margin-top: 55px;
}

.hero .hero-container .hero-items .hero-item {
    width: -webkit-fill-available;
    border: solid 1px #979797;
    padding: 5px;
    text-align: center;
}

.hero .hero-container .hero-items img {
    width: 90px;
    height: 60px;
    padding: 5px;
    border: solid 1px #979797;
}

.education-content .education-item img {
    width: 210px;
    height: 80px;
    padding: 5px;
    border: solid 1px #979797;
}

.education-content {
    display: flex;
    padding: 5px;
}

.education-content-info .education-content-items {
    display: flex;
    padding: 10px;
}

.education-content-items .education-item {
    margin: 5px;
}

.education-content-info .education-description .education-description-items .education-description-item-image img {
    width: 125px;
    height: 125px;
    padding: 5px;
    border: solid 1px #979797;
}

.education-description-items {
    width: 70%;
    padding: 10px;
}

.education-description-lists {
    width: 30%;
    padding: 10px;
}

.education-description-item {
    display: flex;
}

.education-description-item-info {
    padding: 0px 0px 0px 10px;
}

.education-description-item a {
    text-decoration: none;
    color: #ce4521;
}

.education-description-item-info h4 {
    color: #ce4521;
}

.education-description-lists a {
    color: #ce4521;
    text-decoration: none;
}

.education-description, .education-title {
    display: flex;
}

.education-content-videos .education-content-items .education-item img {
    width: 230px;
    height: 100px;
}

.education-content-videos video {
    width: 230px;
    height: 230px;
}

.education-content-videos .education-content-items {
    padding: 10px;
}

img.mySlides {
    width: 700px;
    height: 400px;
}